<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Group Create</h2>
                                </header>
                                <div class="panel-body">
                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form class="needs-validation" novalidate
                                          th:action="@{/group/createGroup}" method="post" th:object="${group}">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Group Name</label>
                                                    <input type="text" placeholder="Group name"
                                                           th:field="${group.groupName}" class="form-control"></input>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Group Mascot</label>
                                                    <input type="text" placeholder="Group Mascot"
                                                           th:field="${group.groupMascot}" class="form-control"></input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Select a Batch</label>
                                                    <select th:field="*{batch}" class="custom-select" required="required">
                                                        <option th:value="''" th:text="Select"></option>
                                                        <option th:each="batch : ${batches}" th:value="${batch}" th:text="${batch.batchName}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Select a Mentor</label>
                                                    <select th:field="*{mentor}" class="custom-select" required="required">
                                                        <option th:value="''" th:text="Select"></option>
                                                        <option th:each="mentor : ${mentors}" th:value="${mentor}" th:text="${mentor.firstName+' '+mentor.lastName}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="float-right">
                                                    <button class="btn btn-success rounded-0" type="submit">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- ------------------------TABLE START----------------------------- -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Group List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Batch Name</th>
                                                <th scope="col">Group Name</th>
                                                <th scope="col">Group Mascot</th>
                                                <th scope="col">Mentor</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="group : ${groups}">
                                                <td th:text="${group.batch.batchName}"></td>
                                                <td th:text="${group.groupName}"></td>
                                                <td th:text="${group.groupMascot}"></td>
                                                <td th:text="${group.mentor.firstName+' '+group.mentor.lastName}"></td>
                                                <td>
                                                    <a th:href="@{/group/updateGroup/{id}(id=${group.groupName})}"class="btn btn-warning rounded-0">Update</a>
                                                    <a th:href="@{/group/delete/{id}(id=${group.groupName})}"><button type="button" class="btn btn-danger rounded-0">Delete</button></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- ------------------------TABLE END----------------------------- -->
            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>