<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="left-sidebar">
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider"></li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/batch/createBatch}">
                            <i class="fa fa-fw fa-user-circle"></i>Batch
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/group/createGroup}">
                            <i class="fa fa-fw fa-user-circle"></i>Group
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/student/createStudent}">
                            <i class="fa fa-fw fa-user-circle"></i>Student
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mentor/createMentor}">
                            <i class="fa fa-fw fa-user-circle"></i>Mentor
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/task/createTask}">
                            <i class="fa fa-fw fa-user-circle"></i>Task
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>

</html>